/LibOVR/Lib/Linux/Debug/i386/
/LibOVR/Lib/Linux/Debug/x86_64/
/LibOVR/Lib/Linux/Release/i386/
/LibOVR/Lib/Linux/Release/x86_64/
/LibOVR/Obj/Linux/Debug/i386/
/LibOVR/Obj/Linux/Debug/x86_64/
/LibOVR/Obj/Linux/Release/i386/
/LibOVR/Obj/Linux/Release/x86_64/
/Samples/OculusWorldDemo/Obj/Linux/Debug/i386/
/Samples/OculusWorldDemo/Obj/Linux/Debug/x86_64/
/Samples/OculusWorldDemo/Obj/Linux/Release/i386/
/Samples/OculusWorldDemo/Obj/Linux/Release/x86_64/
/Samples/OculusWorldDemo/Release/
/Samples/OculusWorldDemo/Assets
