[project]
	description = Oculus SDK with my modificitions
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Brad Davis (jherico)
[access "refs/for/refs/*"]
	read = group user/Brad Davis (jherico)
	push = group user/Brad Davis (jherico)
	label-Code-Review = -2..+2 group user/Brad Davis (jherico)
	label-Verified = -1..+1 group user/Brad Davis (jherico)
	rebase = group user/Brad Davis (jherico)
	removeReviewer = group user/Brad Davis (jherico)
	submit = group user/Brad Davis (jherico)
[access "refs/heads/*"]
	read = group user/Brad Davis (jherico)
	create = group user/Brad Davis (jherico)
	push = +force group user/Brad Davis (jherico)
	pushMerge = group user/Brad Davis (jherico)
[access "refs/tags/*"]
	push = +force group user/Brad Davis (jherico)
	pushTag = group user/Brad Davis (jherico)
	pushSignedTag = group user/Brad Davis (jherico)
